<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:spring01="http://christianposta.com/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://christianposta.com/schema/core
                        http://christianposta.com/schema/core/core.xsd">

    <spring01 xmlns="http://christianposta.com/schema/core" myProperty="testMe">
        <student>
            <student id = "123" studentName = "zw123" />
        </student>

        <students>
            <student id = "456" studentName = "zw456" />
            <student id = "789" studentName = "zw789" />
            <student id = "999" studentName = "zw999" />
        </students>
    </spring01>

    <!--<bean id="student123"
          class="framework.spring.spring01.Student">
        <property name="id" value="123" />
        <property name="name" value="KK123" />
    </bean>

    <bean id="student456"
          class="framework.spring.spring01.Student">
        <property name="id" value="456" />
        <property name="name" value="KK456" />
    </bean>-->
    
    <!--<bean id="klass" class="framework.spring.spring01.Klass">
        <property name="students">
            <list>
                <ref bean="student456" />
                <ref bean="student123" />
            </list>
        </property>
    </bean>-->

    <context:component-scan base-package="framework.spring.spring01" />
</beans>